<mat-toolbar>
    <a routerLink="/">Atelier-Angular-flask</a>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="openAddCarForm()">Add car</button>
    <button mat-raised-button routerLink="/cars">List of cars</button>

    

    <nav class="button">
        <button mat-raised-button (click)="openLoginForm()">Login</button>
        <button mat-raised-button (click)="openSigneUpForm()">Sign Up</button>
        <button mat-raised-button (click)="logout()">Logout</button>

    </nav>
    <mat-toolbar>
        
<router-outlet></router-outlet>